<div id="artist_detail_modal" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <table class="artist_detail_modal">
	  <tr>	
	    <td>
		  <br>
		  <h2>
		  <img src="<%= @artist_image  %>" 
			alt="<%= @artist_name  %>">
		  </h2>
		</td>
		<td>
		  <a href="<%= @artist_link_url %>" target="_blank">
					<%= @artist_name  %>
		  </a>
		</td>	
		<td>
		  <% if user_signed_in? %>
		    <%= render :partial => "list_items/add_list_item_form", :locals => { :artist_id => @artist_id, :artist_in_list => @artist_in_list } %>
		  <% else %>
		    <%= button_to "Sign In", new_user_session_path ,:method => "get", class: "btn btn-large" %>
		  <% end %>	
		</td>
		
	</table>

  

</div>  

  <div class="modal-body">  
    <h4>Text in a modal</h4>  
    <p>You can add some text here.</p>                
  </div>  

  <div class="modal-footer">  
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>
