<div id="artist_detail_modal_<%= @artist_id %>" class="modal hide" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <table>
	  <tr>	
	    <td>
		  <br>
		  <h2>
		  <img src="<%= @artist_image  %>" 
			alt="<%= @artist_name  %>">
		  </h2>
		</td>
		<td>
		  <a href="<%= @artist_link_url %>" target="_blank">
					<%= @artist_name  %>
		  </a>
		</td>	
		<td>
		  <% if user_signed_in? %>
		    <%= render :partial => "list_items/add_list_item_form", :locals => { :artist_id => @artist_id, :artist_in_list => @artist_in_list, :view_mode => (@view_mode = "modal") } %>
		  <% else %>
			<br>
		    <%= button_to "Sign In", new_user_session_path ,:method => "get", class: "btn btn-large" %>
		  <% end %>	
		</td>
	</table>
  </div>  

  <div class="modal-body">  
	<table>
	  <% @artist_albums.each do |album| %>
	      <tr>
		    <td>
			  <img src="<%= album["artworkUrl100"]  %>" 
					alt="<%= album["collectionName"]  %>">
			</td>
			<td>
			  <a href="<%= album["collectionViewUrl"] %>" target="_blank">
		        <%= album["collectionName"] %>
			  </a>
			</td>
			<td>
			  <br>
			  <%= button_to "Buy", album["collectionViewUrl"].sub('https','itms'), class: "btn btn-large btn-primary" %>	
			</td>			
	  <% end %>	
	</table>
  </div>  

  <div class="modal-footer">  
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>