<!DOCTYPE html>
<html>
  <head>
    <title>Street Date</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
	<%= render 'layouts/shim' %>
  </head>
  <body>


    <%= render 'layouts/email_header' %>
	<div class="container">
      <div class="center hero-unit">
        <div class="row">

 		  <p>Hello <%= @resource.email %>!</p>
 
		  <p>Someone has requested a link to change your password, and you can do this through the link below.</p>

		  <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

 		  <p>If you didn't request this, please ignore this email.</p>
		  <p>Your password won't change until you access the link above and create a new one.</p>


	    </div>
      </div>

      <%= render 'layouts/email_footer' %>
    </div>
  </body>
</html>
